label{
    line-height: 40px;
}
span{
    color: red;
}
h1, h3{
    margin-left: 75px;
    
}
pre{
    color: gray;
    margin-left: 70px;
    font-family: Cambria;
    font-size: 17px;
    background-color: #dce5eb;
    border: 1px solid rgb(130, 152, 170);
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 13px;
    width: fit-content;
}
#back{
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
